*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;}

:root {
    --Gray-gray-500: #343A40;
    --Gray-gray-400: #495057;
    --Dark-blue-dark-blue-300: #0A3871;
    --Light-blue-light-blue-100: #F3F5FC;
    --White: #FFF;
}

body {
    margin: 40px;
    background-color: var(--Light-blue-light-blue-100);
}

header {
    margin: 20px 0;
}

header.logo{
    width: 375px;
    height: 96px;
    flex-shrink: 0;
}

textarea#text-input {
    width: 100%;
    padding: 10px;
    border: transparent;
    color: var(--Dark-blue-dark-blue-300);
    background-color: var(--Light-blue-light-blue-100);
    font-size: 32px;
    font-weight: 400;
}

textarea#text-input::placeholder {
    color: var(--Dark-blue-dark-blue-300);
    font-size: 32px;
    font-weight: 400;
}

p#warning {
    color: var(--Gray-gray-500, #343A40);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    display: flex;
    margin: 18px 0;
}

img#warning-icon {
    margin: 0 1rem;
    width: 16px;
    height: 16px;
}

button#criptografar-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 24px;
    margin-bottom: 18px;
    color: var(--White);

    border-radius: 24px;
    background: var(--Dark-blue-dark-blue-300, #0A3871);
}

button#descriptografar-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 24px;
    color: var(--Dark-blue-dark-blue-300);

    border-radius: 24px;
    border: 1px solid var(--Dark-blue-dark-blue-300, #0A3871);
}

section#messages.active .messages__text-content {
    display: none;
}

.messages__text-content {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.messages__text-content h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #343A40;
}

.messages__text-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #495057;
}

section#messages.active, section#messages.inactive {
    display: grid;
    width: 100%;
    padding: 32px;
    margin-top: 64px;
    align-items: flex-start;
    gap: 32px;

    border-radius: 32px;
    background: var(--White, #FFF);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

section#messages.active p{
    display: none;
}

h2.active {
    color: var(--Gray-gray-400);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    overflow-wrap: anywhere;

}

button.active {
    display: grid;
    padding: 24px;
    gap: 8px;

    border-radius: 24px;
    border: 1px solid var(--Dark-blue-dark-blue-300, #0A3871);
    background-color: var(--White);
    color: var(--Dark-blue-dark-blue-300);
}


@media screen and (min-width: 768px) {
    .buttons {
        display: flex;
        gap: 1rem;
    }

    #descriptografar-btn {
        display: flex;
        align-items: center;
        margin-bottom: 18px;
    }

    .messages__text-content {
        margin: 1rem 3.5rem;
    }
    
}

@media screen and (min-width: 1440px) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }  

    #criptografar-btn { 
        grid-column: 1;
    }

    #descriptografar-btn {
        display: flex;
        align-items: center;
        margin-bottom: 18px;
        grid-column: 1;
    }

    #warning {
        grid-column: 1;
    }

    .messages__text-content {
        display: flex;
        flex-direction: column;
        margin: 15rem 1rem 1rem;
    }

    section#messages, 
    section#messages.active, 
    section#messages.inactive {
        grid-column: 2;  
        
        height: 80vh;
        width: 60%;
        align-items: center;
        align-self: flex-start;
        justify-items: center;
        justify-self: center;
        margin: 0;
    }

    .copy {
        width: 100%;
        cursor: pointer;
        align-self: flex-end;
    }

    section#messages,
    section#messages.inactive {
        background-image: url('../assets/High\ quality\ products\ 1\ 1.svg');
        background-repeat: no-repeat;
        background-position-x: center;
    }
}