*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;}

:root {
    --Gray-gray-500: #343A40;
    --Gray-gray-400: #495057;
    --Dark-blue-dark-blue-300: #0A3871;
    --Light-blue-light-blue-100: #F3F5FC;
    --White: #FFF;





}

body {
    margin: 40px;
    background-color: var(--Light-blue-light-blue-100);
}

header {
    margin: 20px 0;
}

header.logo{
    width: 375px;
    height: 96px;
    flex-shrink: 0;
}

textarea#text-input {
    width: 100%;
    padding: 10px;
    border: transparent;
    color: var(--Dark-blue-dark-blue-300);
    background-color: var(--Light-blue-light-blue-100);
    font-size: 32px;
    font-weight: 400;
}

textarea#text-input::placeholder {
    color: var(--Dark-blue-dark-blue-300);
    font-size: 32px;
    font-weight: 400;
}

p#warning {
    color: var(--Gray-gray-500, #343A40);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    display: flex;
    margin: 18px 0;
}

img#warning-icon {
    margin: 0 1rem;
    width: 16px;
    height: 16px;
}

button#criptografar-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 24px;
    margin-bottom: 18px;
    color: var(--White);

    border-radius: 24px;
    background: var(--Dark-blue-dark-blue-300, #0A3871);
}

button#descriptografar-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 24px;
    color: var(--Dark-blue-dark-blue-300);

    border-radius: 24px;
    border: 1px solid var(--Dark-blue-dark-blue-300, #0A3871);
}

section#messages.inactive {
    display: none;
}

/* 
section#messages.inactive h2{
    display: none;
}
section#messages.inactive p{
    display: none;
} */

section#messages.active{
    display: grid;
    width: 100%;
    padding: 32px;
    margin-top: 64px;
    align-items: flex-start;
    gap: 32px;

    border-radius: 32px;
    background: var(--White, #FFF);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

section#messages.active p{
    display: none;
}

h2.active {
    color: var(--Gray-gray-400);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}

button.active {
    display: grid;
    padding: 24px;
    gap: 8px;

    border-radius: 24px;
    border: 1px solid var(--Dark-blue-dark-blue-300, #0A3871);
    background-color: var(--White);
    color: var(--Dark-blue-dark-blue-300);
}